* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* Container */
.container {
  max-width: 1170px;
  margin: auto;
  padding: 20px;
}

.footer {
  background-color: #edeeeff4;
  color: #060000;
  padding: 40px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.footer-section {
  width: 45%;
}

.footer-section h4 {
  font-size: 18px;
  margin-bottom: 20px;
  color: #e91e63;
}

.footer-section ul {
  list-style: none;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  text-decoration: none;
  color: #060000;
  font-size: 14px;
  transition: color 0.3s ease;
}

.footer-section ul li a:hover {
  color: #e91e63;
}

/* Footer bottom section */
.footer-bottom {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
}

.footer-bottom p {
  color: #090000;
}

/* Responsive styles */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    width: 100%;
    margin-bottom: 20px;
  }

  .footer-bottom {
    font-size: 12px;
  }
}