* {
    font-family: "Open Sans", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ProductComponent.css */

.container {
    padding: 15px;
}
.loadings{
    color: rgb(227, 117, 117);
}
.card-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Gap between cards */
}

/* Card Styling */
.product-card {
    background: linear-gradient(to top, white 30%, rgb(250, 248, 248) 70%);
    overflow: hidden;
    width: 100%; /* Full width by default */
    max-width: 100%; /* Ensures responsiveness */
}
/* Card Image Styling */
.card-img-top {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Card Body */
.card-body {
    padding: 10px;
}

/* Card Title */
.card-title {
    font-size: 1.25rem;
    margin: 0;
    font-weight: bold;
}

/* Card Price */
.card-price {
    font-size: 1.125rem;
    font-weight: 300;
    margin: 0;
}

/* Card Rating */
.card-rating {
    font-size: 1rem;
    color: #1b1a1a;
    margin-top: 0;
    font-weight: 300;
}

/* Responsive Styles */
@media (max-width: 767px) {
    .product-card{
        flex: 1 1 calc(50% - 15px); /* Two cards per row */
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .product-card {
        flex: 1 1 calc(33.333% - 15px); /* Three cards per row */
    }
}

@media (min-width: 1024px) {
    .product-card {
        flex: 1 1 calc(25% - 15px); /* Four cards per row */
    }
}
